language: python
python:
  - "2.7"

before_install:
  # We need Riak 1.4, so we add Basho's repo and install from there.
  - sudo service riak stop
  - "curl http://apt.basho.com/gpg/basho.apt.key | sudo apt-key add -"
  - sudo bash -c "echo deb http://apt.basho.com $(lsb_release -sc) main > /etc/apt/sources.list.d/basho.list"
  - sudo apt-get -qq update
  - sudo apt-get install -q -y --force-yes riak=1.4.12-1
  - sudo rm -rf /var/lib/riak/*
  - sudo sed -i.bak 's/{storage_backend, riak_kv_bitcask_backend}/{storage_backend, riak_kv_eleveldb_backend}/'
  - sudo sed -i.bak 's/{enabled, false}$/{enabled, true}/'
  - sudo service riak start

script: ./travis-riak-weirdness.sh
