sudo: false
language: python
python:
  - "2.7"

env:
  - RIAK_VERSION="1.4.12"
  - RIAK_VERSION="2.1.1"

addons:
  apt:
    packages:
      - libpam0g-dev

cache:
  directories:
    - $HOME/erlang
    - $HOME/riak

before_install:
  - ./riak-${RIAK_VERSION}-install.sh

script: ./travis-riak-weirdness.sh
