language: python
python:
  - "2.7"

before_install:
  # We need Riak 1.4, so we add Basho's repo and install from there.
  - "curl http://apt.basho.com/gpg/basho.apt.key | sudo apt-key add -"
  - sudo bash -c "echo deb http://apt.basho.com $(lsb_release -sc) main > /etc/apt/sources.list.d/basho.list"
  - sudo apt-get update
  - sudo apt-cache show riak
  - sudo apt-get install -q riak=1.4.12

script: ./travis-riak-weirdness.sh
